/*Colors: https://coolors.co/palette/fbf8cc-fde4cf-ffcfd2-f1c0e8-cfbaf0-a3c4f3-90dbf4-8eecf5-98f5e1-b9fbc0*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #FDE4CF;
    color: #736ced; 
    margin: 100px;
}
a{
    color: #e639c6;
    text-decoration: none;
}
a:hover{
    color: blueviolet;
}
header{
    color: #cf6094;
    text-align: center;
}
figcaption{
    font-style: italic;
}
p{
    text-align: left;
}
ul{
    list-style-position: outside;
    text-align: left;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-family: 'Courier New', Courier, monospace;
}
main{
    text-align: center;
}
footer{
    text-align: center;
}
.copyright{
    text-align: center;
}
.white-box {
    background-color: white;
    margin-left:inherit;
    margin-right:inherit;
}
.calculator__display{
    text-align: right;
    border: #736ced;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.calculator__keys { 
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
.key--equal{
    grid-area: 2/4/6/5;
}
.calculator{
    border: #736ced;
    background-color: #cf6094;
}
.image-size{
    width: 425px;
    height: 350px;
}
.moveright{
    float: right;
}
.moveleft{
    float: left;
}
.leftalign{
    text-align: left;
}
/*slide show css influenced by https://www.w3schools.com/howto/howto_js_slideshow.asp*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  

  .mySlides {
    display: none;
  }
  

  .prev, .next {
    cursor: pointer;
    position:sticky;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
 
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
 
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #cf6094;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #c986a5;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #cf6094;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  .thumb{
      height: 300px;
      width: 375px;
      align-content: center;
      align-items: center;
  }
  #image_list li
{
  padding-right: 10px;
  display: inline;
}