/*https://coolors.co/1f2421-216869-49a078-9cc5a1-dce1de*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #216869;
    color: #1F2421; 
}
header a{
	text-decoration: none;
	color: #DCE1DE;
}
a{
    color: #49A078;
	text-decoration: none;
}
a:hover{
    color: #9CC5A1;
}
header{
    color: #DCE1DE;
    text-align: center;
	background-color: #216869;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 20px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: #49A078;
}
header h1{
	color: #DCE1DE;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-family: 'Courier New', Courier, monospace;
}
main{
    text-align: center;
}
footer{
    text-align: center;
}
hr{
    width:75%;
    margin:0 auto;
}
img{
    max-width: 300px;
    max-height: 375px;
}
aside {
	width: 215px;
	float: left;
	padding-left: 200px;
	padding-bottom: 20px;
}

.copyright{
    text-align: center;
}
footer {
	border-top: 3px;
	padding: 1em 0;
	clear: both;
}
.white-box {
    background-color: #DCE1DE;
    margin-left:inherit;
    margin-right:inherit;
}
#nav_list li { 
	width: 200px;
	margin-bottom: .5em;
	border: 2px double black;
	border-radius: 10px;
	box-shadow: 3px 3px 0 0;
	/*background-image: url("images/right.jpg");*/
	background-repeat: no-repeat;
	background-position: 95% center;
		
}
#nav_list li a {
	display: block;
	font-weight: bold;
	text-decoration: none;
	padding: .5em 0 .5em 1em;
}
.bx-wrapper {
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	
}
#id_pager {
	text-align: center;
	font-size: 90%;
	color: green;
}
.bx-viewport{
	margin: auto;
}
.soil_calc{
	background-color: aliceblue;
	margin: auto;
}
