/*Colors: https://coolors.co/palette/fbf8cc-fde4cf-ffcfd2-f1c0e8-cfbaf0-a3c4f3-90dbf4-8eecf5-98f5e1-b9fbc0*/
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f1aa88;
    color: #29275e; 
    text-align: center;
}
a{
    color: #6e4d6a;
    text-decoration: none;
}
ul{
    text-align: left;
}
.source{
    transform: scale(.75);
    font-style: italic;
}
a:hover{
    color: #ed6c6c;
}
header{
    color: #5c1c3a;
    text-align: center;
}
.outer-box{
    background-color:#5c1c3a;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
h3{
    font-family: 'Courier New', Courier, monospace;
}
hr{
    width:75%;
    margin:0 auto;
}
p{
    text-align: left;
}
.moveright{
    float: right;
}
.moveleft{
    float: left;
}
figure:hover{
    transform: scale(1.1);
}
.white-box {
    background-color: white;
    margin-left:inherit;
    margin-right:inherit;
}
.center{
    text-align: center;
}
.question{
  font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
  font-family: sans-serif;
  font-size: 20px;
  background-color: #6e4d6a;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}
#submit:hover{
  background-color: #ed6c6c;
}